[Unit]
Description=Minecraft Relay Server (%i)
Documentation=man:mcrelay(1) https://github.com/bilintsui/minecraft-relay-server
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=mcrelay
Group=mcrelay
KillMode=control-group
Restart=on-failure
RestartSec=5s
TasksMax=512
ExecStart=/usr/bin/mcrelay run --config /etc/mcrelay/%i.json
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target
