[Unit]
Description=Minecraft Relay Server
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=forking
User=nobody
RuntimeDirectory=mcrelay
Restart=on-failure
RestartSec=5s
PIDFile=/run/mcrelay/mcrelay.pid
ExecStart=/usr/local/bin/mcrelay -f /usr/local/etc/mcrelay/config.json
ExecStop=/usr/local/bin/mcrelay -t
ExecReload=/usr/local/bin/mcrelay -r

[Install]
WantedBy=multi-user.target
